.page_nav{
    background-color: $white;
    width: 100%;
    font-family: $Raleway;
    font-size: $font-size / 1.1;
    padding: $spacer * 1.5;
    box-shadow: 0px 2px 3px 0px $gray-200;
    z-index: 5;

    .navbar-brand{
        padding: 0;

        img{
            height: $spacer * 1.3;       
        }
    }

    .page_links{

        .nav-item{
            padding-left: $spacer * 2;

            &:first-child{
    
                .nav-link{
                    color: $nav-blue;
                }
            }

            .nav-link{
                color: $dark;
                font-weight: 700;
                font-size: $font-size * 1.05;

                &:hover{
                    color: $nav-blue;
                    transition: 0.5s;
                }
            }
        }
    }

    .bars{
        background-color: $white;
        border: 2px solid $nav-blue;
        display: none;

        i{
            color: $nav-blue;
        }

        &:hover{
            background-color: $gray-200;
            border-color: darken($nav-blue, 5%);
            transition: 0.35s;

            i{
                color: darken($nav-blue, 5%);
            }
        }
    }
}

.nav_collapse{
    border-top: 1px dotted $secondary;
    top: $spacer * 5;
    background-color: $white;
    width: 100%;
    font-family: $Raleway;
    font-size: $font-size / 1.1;
    padding: $spacer * 1.5;
    box-shadow: 0px 2px 3px 0px $gray-200;
    z-index: 6 !important;
    display: none;

    .container{
        width: 100%;
    }

    .page_links-1{

        .nav-item{
            margin-right: $spacer;
            display: inline-block;

            &:first-child{
    
                .nav-link{
                    color: $nav-blue;
                }
            }

            .nav-link{
                color: $dark;
                font-weight: 700;
                font-size: $font-size * 1.05;

                &:hover{
                    color: $nav-blue;
                    transition: 0.5s;
                }
            }
        }
    }
}

.tools{
    top: 150px;
    font-size: $font-size * 1.8;
    padding: $spacer / 3 $spacer / 3 $spacer / 3 $spacer * 1.25;
    left: -$spacer;
    z-index: 5;

    &:hover{
       color: $nav-blue;
       transition: 0.5s;
    }
}

.setting{
    top: 202px;
    background-color: $white;
    width: 200px;
    padding: $spacer * 1.25 $spacer;
    font-family: $Raleway;
    font-weight: 700;
    box-shadow: 0px 0px 5px 3px $gray-200;

    h3{
        border-top: 1px $gray-500 dotted;
        border-bottom: 1px $gray-500 dotted;
        font-size: $font-size * 1.1;
        font-weight: bolder;
        color: $dark;
        padding: $spacer / 4 0;
    }

    h4{ 
        font-size: $font-size * 1.05;
        font-weight: bolder;
        color: darken($primary, 20%);
        margin: 0;
    }

    &>a{
        font-size: $font-size;
        color: $secondary;
        padding: $spacer / 8 0;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
            color: $nav-blue;
            transition: 0.5s;
        }

        &:nth-of-type(3){
            margin-bottom: $spacer * 2;
        }
    }

    h5{
        border-top: 1px $gray-500 dotted;
        border-bottom: 1px $gray-500 dotted;
        font-size: $font-size * 1.2;
        font-weight: bolder;
        color: $dark;
        padding: $spacer / 4 0;
    }

    .color-set-1{
        margin-bottom: $spacer / 2;

        a{

            &:nth-of-type(1){

                div{
                    width: $spacer * 2.25;
                    height: $spacer * 2.25;
                    background-color: $nav-blue;
                }
            }
            
            &:nth-of-type(2){
                
                div{
                    width: $spacer * 2.25;
                    height: $spacer * 2.25;
                    background-color: $purple;
                }
            }
            
            &:nth-of-type(3){
                
                div{
                    width: $spacer * 2.25;
                    height: $spacer * 2.25;
                    background-color: $light-blue;
                }
            }
            
            &:nth-of-type(4){
                
                div{
                    width: $spacer * 2.25;
                    height: $spacer * 2.25;
                    background-color: $orange;
                }
            }
        }
    }

    .color-set-2{

        a{

            &:nth-of-type(1){

                div{
                    width: $spacer * 2.25;
                    height: $spacer * 2.25;
                    background-color: $secondary;
                }
            }
            
            &:nth-of-type(2){
                
                div{
                    width: $spacer * 2.25;
                    height: $spacer * 2.25;
                   background-color: $success;
                }
            }
            
            &:nth-of-type(3){
                
                div{
                    width: $spacer * 2.25;
                    height: $spacer * 2.25;
                    background-color: darken($warning, 5%);
                }
            }
            
            &:nth-of-type(4){
                
                div{
                    width: $spacer * 2.25;
                    height: $spacer * 2.25;
                    background-color: lighten($danger, 5%);
                }
            }
        }
    }

    p{
        color: $gray-400;
        font-size: $font-size / 1.2;
        margin-top: $spacer * 2;
        line-height: $spacer * 2;
    }
}

@media (max-width: 1210px){

    .page_links{

        .nav-link{
            font-size: $font-size !important;
        }
    }
}

@media (max-width: 1010px){

    .page_links{

        .nav-link{
            font-size: $font-size / 1.1 !important;
        }
    }
}

@media (max-width: 1000px){

    .page_links{

        .nav-link{
            display: none !important;
        }
    }

    .bars{
        display: flex !important;
    }

    .nav_collapse{
        display: block;
    }
}

@media (max-width: 1000px){

    .page_links{
        display: none !important;
    }

    .bars{
        display: flex !important;
    }

    .nav_collapse{
        display: block;
    }
}