$white:     #fff;
$gray-100:  #f8f9fa;
$gray-200:  #e9ecef;
$gray-300:  #dee2e6;
$gray-400:  #ced4da;
$gray-500:  #adb5bd;
$gray-600:  #6c757d;
$gray-700:  #495057;
$gray-800:  #343a40;
$gray-900:  #212529;
$black:     #000;
$black-tr:  #000a;
$black-tr-1:#0009;

$button:    #6b798f;
$input-b:   rgba(0, 142, 214, 0.4);
$nav-blue:  rgb(0, 142, 214);
$blue:      #0d6efd;
$light-blue:#0196a7;
$indigo:    #6610f2;
$purple:    #6f42c1;
$pink:      #d63384;
$red:       #dc3545;
$orange:    #fd7e14;
$yellow:    #ffc107;
$green:     #198754;
$teal:      #20c997;
$cyan:      #0dcaf0;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$color-contrast-dark:   $black;
$color-contrast-light:  $white;

$spacer:      1em;
$border:      1px;
$font-size:   15px;
$Source-sans-pro: 'Source Sans Pro', sans-serif;
$Raleway: 'Raleway', sans-serif;
$vh: 100vh;
$vw: 100vw;